<!-- <div class="container">
<app-header class="row"></app-header>
<div class="row ">
<app-side-menu class="col-4"></app-side-menu>
<app-order-parent class="col-8"></app-order-parent>
</div>
<app-footer class="row"></app-footer>
</div> -->
<div class="container">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <!-- <div class="row ">
        <app-side-menu class="col-4"></app-side-menu>
        <app-order-parent class="col-8"></app-order-parent>
        </div> -->
    <!-- <app-order-parent class="col-8"></app-order-parent> -->
    <app-footer class="row"></app-footer>
</div>